TG_BOT_TOKEN=

DB_DBMS=postgresql
DB_DRIVER=asyncpg
DB_USER=postgres
DB_PASSWORD=change_me
DB_HOST=db_accounts
DB_PORT=5432
DB_NAME=accounts

MANAGER_SELLER_ID=

ADMIN_IDS=
ADMIN_MAIN_ID=

PROJECT_NAME=
PROJECT_LINK_MANAGER_PANEL=
PROJECT_MANAGER_PANEL_SIGNING_KEY=change_me
